<div class="banner">
  <div class="banner-content">
    <h1>File Cabinet</h1>
    <p>Organize your thoughts and your life. Don't be a mess</p>
    <button><%= link_to "Enter", new_registration_path %></button>
  </div>
</div>
